@import "../utilities/variables";
@import "../utilities/mixins";

@media(max-width : 426px){
    header{
        align-items: center;
        nav{
            ul{
                @include flex(row,center,space-evenly);
                li{
                    margin: 1%;
                }
            }
            a{
                font-size: 0.8rem;
            }
        }
    }
   
}