@import "../utilities/mixins";

//Tablet y mobile (Comun a ambos)
@media(min-width : 320px) and (max-width:769px){
    #seccion-intro-inscripciones{
        @include flex(column,center,center);
    }
    #imagen-inscripciones{
        width: 90%;
        margin: 3%;
    }
    #texto-intro-inscripciones{
        width: 90%;
        text-align: center;
        margin-bottom: 10%;
    }

    #seccion-inscripciones{
        @include flex(column,center,center);
        padding: 0px;

    }
    .form-div{
        margin-top: 10%;
        width: 90%;
        height: auto;
        padding-bottom: 4rem;
        .text-input{
            height: 2rem;
        }
    }   

    #form-equipos{
        width: 90%;
        height: auto;
        .text-input{
            height: 2rem;
        }
    }
    #form-submit{
        margin-top: 10%;
        margin-bottom: 5%;
        width: 90%;
    }

}
//Solo tablet
@media(min-width : 427px) and (max-width:769px){
    .form-div{
        width: 70%;
        padding-bottom: 8rem;
    }   

    #form-equipos{
        width: 70%;
    }
    #form-submit{
        width: 70%;
    }
}
