
:root{
    --color-secundario:rgb(60, 60, 60);
    --bg-principal : hsl(231, 9%, 15%);
    --color-titulos: #ad87cd;
    --color-nav:rgb(247, 211, 255);
    --titulos-seccion:#ceb2e6;
    --texto-principal:#7b7b7b;
    --texto-seccion:#dfd7e7;
    --borders : 2px solid var(--color-titulos);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
table 
{
   align-content: center;
}
body
{
    background-color: var(--bg-principal);
    font-family: "Roboto";
    
}
h1{
    text-align: center;
    font-weight: 900;
    color:  #8d53bc;
}
h2,h3,h4{
    margin-left: 1%;
    font-weight: 900;
    color: var(--color-titulos)
}

nav{
    text-align: center;
    top: 3%;
    position: sticky;
    top: 0px;

}
nav ul{
    background-color: var(--bg-principal);
    opacity: 0.8;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1em;
    opacity: 1;
}


a{
    text-decoration: none;
    color: var(--color-nav);
}
p{
    color:  var(--texto-principal);
    font-size: 15px;
}
div{
    background-color:#35363C;
}

/* Estilos del header */
header nav a {
    padding: 3%;
}
header a:hover{
    border-bottom: var(--borders);
}
header h1
{
    font-size: 3.4rem;
    margin-left: 10px;
    margin-bottom: 0px;
}
.encabezado-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-principal);
    border-bottom: var(--borders);
}
.logo{
    height: 3.6rem;
}
.anuncio{
    height: 2rem;
    color: var(--bg-principal);
    background-color:var(--color-titulos);
    text-align: center;
    padding: 4px;
}
.anuncio p
{
    color: var(--bg-principal);
}
.seccion-imagenes{
    display: flex;
    justify-content: space-around;
    border: var(--borders);
    padding: 0.5%;
    margin: 1%;
    margin-bottom: 5%;
}
.seccion-imagenes img{
    width:  24%;
    object-fit: cover;

}

/* Estilos del footer */
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    border-top:var(--borders);
    padding: 1em;
   
}
footer .logo{
    height: 3rem;
}
.logo-con-nombre{
    display: flex;
    align-items: center;
    background-color: var(--bg-principal);
}
.logo-con-nombre h4{

    margin-left: 0.5em;
}
.logos-contacto-footer{
    background-color: var(--bg-principal);
    display: flex;
    justify-content: space-around;
}
.logos-contacto-footer img{
    padding: 0.1em;
}

/* Estilos generales de secciones */
.seccion-principal{
    background-color:#35363C;
    border: var(--borders);
    margin: 1%;
}
.seccion-principal h2{
    text-align: center;
    color: var(--titulos-seccion);
}
.seccion-principal p{
    color: var(--texto-seccion);
}
.seccion-principal label{
    color: var(--texto-seccion);
}
.seccion-grande{
    border-top: var(--borders);
}
.tituloPrincipal{
    color: var(--main-color);
    text-align: center;
    font-size: 44px;
}

/* Estilos Home (index.html) */
.seccion-home{
    display: flex;
    margin-top: 1%;
    align-items: center;

}
.seccion-home div{
    justify-content: left;
    width:55%;
    background-color: var(--bg-principal);
    margin: 1%;
}
.seccion-home h2{
   font-size: 2rem;
   margin-bottom: 1%;
}
.seccion-home p{
    font-size: 1rem;
 }
 #video-home{
     margin-top: 1%;
     width: 40%;
     height: 60%;
}

/* Estilos Noticias */
#seccion-noticias{
    min-height:60rem ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tarjeta-noticia{
    text-align: center;
    display: inline-block;
    width: 23%;
    height: 25rem;
    margin: 0.6rem;
    padding: 0.4rem;
    border-radius: 10px;
    transition: 0.5s;
}
.tarjeta-noticia h3{
    margin-top: 3%;
    margin-bottom: 3%;
}
.tarjeta-noticia img{
    border-radius: 5px;
    width: 100%;
    height: 65%;
    object-fit: fill;
}
.tarjeta-noticia:hover{
    margin-left: 1rem;
    margin-right: 1rem;
    border: var(--borders);
    box-shadow: 10px 10px 50px rgba(244, 196, 237, 0.7);
}
/* Estilos partidos (partidos.html) */
#seccion-partidos{
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1%;
}
.contenedor-tajetas-partidos{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.tarjeta-partido{
    margin-top: 1%;
    background-color: var(--bg-principal);
    border: var(--borders);
    border-radius: 10px;
    overflow: hidden;
    width: 40%;
    height: 10rem;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 40% 20% 40%;
    gap: 0%;
    grid-template-areas:
    "equipo-1 score equipo-2"
    "nro-fecha horario fecha";


}
.escudo-equipo{
    height: 90%;
    object-fit: fill;
}
.equipo-1{
    background-color: var(--bg-principal);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: equipo-1;
    border-right: var(--borders);
    padding: 1%;
}
.partido-score{
    text-align: center;
    align-self: center;
    grid-area: score;
    padding: 1%;
}
.equipo-2{
    background-color: var(--bg-principal);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: equipo-2;
    border-left: var(--borders);
    padding: 1%;
}
.partido-nro-fecha{
    border-top: var(--borders);
    border-right: var(--borders);
    text-align: center;
    grid-area: nro-fecha;
    padding: 1%;
    margin: 0px;
}
.partido-hora{
    border-top: var(--borders);
    text-align: center;
    grid-area: horario;
    padding: 1%;
}
.partido-fecha{
    border-top: var(--borders);
    border-left: var(--borders);
    text-align: center;
    grid-area: fecha;
    padding: 1%;
    margin: 0px;
}

/* Estilos tabla de posiciones (posiciones.html) */
#seccion-posiciones{
    display: flex;
    flex-direction: column;
}
#seccion-posiciones h2{
   margin-top: 3%;
   margin-bottom: 3%;
}
.tabla-posiciones{
    display: flex;
    flex-direction: column;
    margin: 0% 20% 0% 20%;
    min-height: 30rem;
   
}
.encabezado-tabla{
    display: flex;
    justify-content: flex-end;
   
}
.datos-tabla{
    justify-self: center;
    justify-content: left;
    display: flex;
    width: 30%;
    margin-right: 1%;
    text-align: center;
}
.datos-tabla h4{
    text-align: center;
    width: 16.6%;
}
.tarjeta-tabla{
    background-color: var(--bg-principal);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height:6rem;
    border: var(--borders);
    border-radius: 10px;
    margin-bottom: 1.5%;

}
.tarjeta-tabla .datos-tabla{
    background-color: var(--bg-principal);
}
.posicion-tabla{
    background-color: var(--bg-principal);
    width: 10%;
    text-align: center;
}
.info-equipo{
    background-color: var(--bg-principal);
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    justify-content: left;
    border-right: var(--borders);
   
}
.info-equipo img{
    width: 8%;
    margin-right: 2%;
    object-fit: fill;

}
.info-equipo h4{
    background-color: var(--bg-principal);

}
/* Estilos inscripcciones (inscripciones.html)*/
#seccion-intro-inscripciones{
    display: flex;
    align-items:flex-start;
}
#imagen-inscripciones{
    width: 50%;
    margin: 3%;
}
#texto-intro-inscripciones{
    background-color: var(--bg-principal);
    margin: 3% 2% 0% 0%;
    width: 50%;
}
#seccion-inscripciones{
    margin-top: 0%;
    display: grid;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    min-height: 40rem;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-template-areas:
    "item-1 item-2" 
    "item-1 item-3";
    gap: 10%;
    row-gap: 15%;
    overflow: hidden;
    align-items: top;
    justify-items: center
}
.form-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: var(--borders);
    border: 2px solid var(--color-titulos);
    background-color: var(--bg-principal);
    padding: 1%;
    padding-top: 0.4%;
    padding-bottom: 4%;
    border-radius:20px;
    height: 80%;
    width: 60%;
    box-shadow: 5px 5px 50px rgba(244, 196, 237, 0.35);
}
.form-div form{
    width: 100%;
    padding: 0% 5% 0% 5%;
}
.form-div h3{ 
    padding:5%;
    padding-bottom: 5%;
    margin-top: 1%;
    text-align: center;
    color: #dfd7e7;
}
.form-div label{
    display: block;
    margin-top: 1rem;
    font-size: small;
    color: var(--texto-seccion);
    padding-left: 0.3%;
    font-weight: 600;
}

.text-input{
    background-color:#d7b7f3;
    border-radius: 5px;
    height: 23%;
    width: 100%;
    padding-left: 2%;
}
.text-input:focus{
    background-color:#d7b7f3;
    border: 2px solid black;
}
#form-submit{
    grid-area: item-3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
    width: 60%;
    height: 90%;
}    
.boton-checkbox{
    display: flex;
    align-items: center;
}
.boton-checkbox label{
    margin-top: 7%;
    margin-left: 15%;
}
#button-submit{
    display: block;
    font-weight: 900;
    background-color: var(--color-titulos);
    color: white;
    width: 100%;
    transition: 0.2s;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2%;
    margin: 2% 0% 0% 0%
}
#button-submit:hover{
    background-color: #d7b7f3;
    color: black;
 
}
#form-capitan{
    grid-area: item-1;
    justify-self: center;
}
#form-equipos{
    grid-area: item-2;
    height: 100%;   
    width: 60%;
    padding-bottom: 5%;
    
}
#form-equipos .text-input{
    height: 40%;
}
#form-equipos h3{
    padding-bottom: 1%;
    margin-bottom: 0.3%;

}
#form-equipos form .checkbox
{
    display: inline;
}
.menu-radial{
    margin-top: 2%;
    background-color: var(--bg-principal);
    display: flex;
    flex-direction:row;
    padding-left: 2%;
    justify-content: flex-start;
    align-items: center;

}
.menu-radial label
{
    margin-top: 0px;
    margin-right: 2%;
}
.menu-radial input{
    margin-right: 10%;
    accent-color: var(--color-titulos); 

}
.logo2{
    height: 25px;

}

@media (max-width:768px){

    /* Seccion de inscripciones (Vista Mobile) */
    #seccion-inscripciones{
        display: flex;
        flex-direction: column;
        padding: 5%;
        align-items: center;
      
    }
    /* Form del capitan */
    .form-div{
        width: 100%;
        padding-bottom: 10%;
        margin-bottom: 2%;
        align-items: center;
    }
    .form-div label{
        display: block;
        margin-top: 1rem;
        font-size: small;
        color: var(--texto-seccion);
        padding-left: 0.3%;
        font-weight: 600;
    }
    .form-div h3{ 
        padding:5%;
        padding-bottom: 5%;
        margin-top: 1vh;
        margin-bottom: 1vh;
        text-align: center;
        color: #dfd7e7;
    }
    .text-input{
        background-color:#d7b7f3;
        border-radius: 5px;
        width: 70vw;
        padding-left: 2%;
    }

    /* Form de equipos */
  
    #form-capitan{
        grid-area: item-1;
        justify-self: center;
    }
    #form-equipos{
        grid-area: item-2;
        height: 20vh;   
        width: 100%;
        padding-bottom: 5%;
        
    }
    #form-equipos h3{
        padding-bottom: 1%;
        margin-bottom: 0.3vh;

    }
    #form-equipos form .checkbox
    {
        display: inline;
    }
    #form-submit{
        width: 100%;
    }    


}