$color-secundario:rgb(60, 60, 60);
$bg-principal:hsl(231, 9%, 15%);
$color-titulos: #ad87cd;
$color-nav:rgb(247, 211, 255);
$titulos-seccion:#ceb2e6;
$texto-principal:#7b7b7b;
$texto-seccion:#dfd7e7;
$borders : 2px solid $color-titulos;