@import "../utilities/variables";
@import "../utilities/mixins";

footer{
    @include flex(row,center,space-around);
    margin-top: 20px;
    border-top:$borders;
    padding: 1rem;
    height: auto;
    .logo{
        height: 3rem;
    }
    p{
        text-align: center;
        margin: 0px 20px 0px 20px;
        height: auto
    }
   
}
.logo-con-nombre{
    @include flex(row,center,normal);
    background-color: $bg-principal;
    h4{
        margin: 0px;
        margin-left: 0.5em;
    }
}
.logos-contacto-footer{
    @include flex(row,normal,space-evenly);
    background-color: $bg-principal;
    img{
        height: auto;
        width:  20%;
        margin: 0.1rem;
    }
}
