@import "../utilities/variables";


header{

    nav{
        a{
            padding: 3%;
            transition: border-bottom 0s, margin 1s ease;
              
            &:hover{
                border-bottom: $borders;
                margin-right: 10px;
                margin-left: 10px;
            }   
        }
        
    }
    h1{
        font-size: 3.4rem;
        margin-left: 10px;
        margin-bottom: 0px;
    }
}
.encabezado-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-principal;
    border-bottom: $borders;
}
.logo{
    height: 3.6rem;
    transition: transform 1s;
    &:hover{
        transform: rotate(270deg);
    }
}
.seccion-imagenes{
    display: flex;
    justify-content: space-around;
    border: $borders;
    padding: 0.5%;
    margin: 1%;
    margin-bottom: 5%;
    img{
        width:  24%;
        object-fit: cover;
        transition: 1s;
        &:hover{
            transform: scale(1.05);
        }
    }
}