@import "../utilities/variables";
@import "../utilities/mixins";


#seccion-intro-inscripciones{
    @include flex(row,flex-start,normal);
}
#imagen-inscripciones{
    width: 50%;
    margin: 3%;
}
#texto-intro-inscripciones{
    background-color: $bg-principal;
    margin: 3% 2% 0% 0%;
    width: 50%;
}