@import "../utilities/variables";
@import "../utilities/mixins";

.seccion-home{
    @include flex(row,center,center);
    margin-top: 5%;
    gap: 5%;
    div{
        width:45%;
        background-color: $bg-principal;
        margin: 1%;
    }
    h2{
        font-size: 2rem;
        margin-bottom: 1%;
    }
    p{
        font-size: 1rem;
    }
}
#video-home{
    margin-top: 1%;
    width: 40%;
    height: 60%;
}
