#seccion-inscripciones{
    margin-top: 0%;
    display: grid;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    min-height: 40rem;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-template-areas:
    "item-1 item-2" 
    "item-1 item-3";
    gap: 10%;
    row-gap: 15%;
    overflow: hidden;
    align-items: top;
    justify-items: center
}