@import "../utilities/variables";
@import "../utilities/mixins";

.form-div{
    @include flex(column,center,flex-start);
    border: $borders;
    border: 2px solid $color-titulos;
    background-color: $bg-principal;
    padding: 1%;
    padding-top: 0.4%;
    padding-bottom: 4%;
    border-radius:20px;
    height: 85%;
    width: 90%;
    box-shadow: 5px 5px 30px rgba(244, 196, 237, 0.35);

    form{
        width: 100%;
        padding: 0% 5% 0% 5%;
    }
    h3{
        padding:5%;
        margin-top: 1%;
        text-align: center;
        color: #dfd7e7;
    }
    label{
        display: block;
        margin-top: 1rem;
        font-size: 1rem;
        color: $texto-seccion;
        padding-left: 0.3%;
        font-weight: 600;
        margin-left: 3px;
    }
    .text-input{
        background-color:#d7b7f3;
        border-radius: 5px;
        height: 3rem;
        width: 100%;
        padding-left: 2%;
        .text-input:focus{
            background-color:#d7b7f3;
            border: 2px solid black;
        }
    }

}