@import "../utilities/mixins";



.tabla-posiciones{
    @include flex (column,normal,normal);
    margin: 0% 10% 0% 10%;
    min-height: 30rem;
   
}
.encabezado-tabla{
    @include flex (row,normal,flex-end);
}
.datos-tabla{
    @include flex (row,normal,left);
    width: 30%;
    margin-right: 1%;
    text-align: center;
    h4{
        text-align: center;
        width: 16.6%;
        margin: 0px;
    }
}