@import "../utilities/variables";
@import "../utilities/mixins";

.tarjeta-tabla{
    @include flex(row,center,normal);
    background-color: $bg-principal;
    width: 100%;
    height:6rem;
    border: $borders;
    border-radius: 10px;
    margin-bottom: 1.5%;
    .datos-tabla{
        background-color: $bg-principal;
    }

}
.posicion-tabla{
    background-color: $bg-principal;
    width: 10%;
    text-align: center;
    h4{
        margin: 0px;
    }
}
.info-equipo{
    @include flex(row,center,flex-start);
    background-color: $bg-principal;
    width: 60%;
    height: 100%;
    border-right: $borders;
   img{
    width: auto;
    height: 80%;
    margin-right: 5%;
    margin-left: 5%;
    object-fit: fill;
   }
   h4{
    margin: 0px;
    background-color: $bg-principal;
   }
}