@import "../utilities/variables";
@import "../utilities/mixins";


#form-submit{
    @include flex(column,flex-start,flex-start);
    grid-area: item-3;
    width: 90%;
    height: 90%;
    p{
        margin-left: 0.2rem;
    }
}    
.boton-checkbox{
    @include flex(row,center,normal);
    margin-left: 0.2rem;
    label{
        margin-top: 7%;
        margin-left: 15%;
    }
}
#button-submit{
    display: block;
    font-weight: 900;
    background-color: $color-titulos;
    color: white;
    width: 100%;
    transition: 0.2s;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2%;
    margin: 2% 0% 0% 0%;
    &:hover{
        background-color: #d7b7f3;
        color: black;
     
    }
}