@import "../utilities/variables";



#form-submit{
    grid-area: item-3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
    width: 90%;
    height: 90%;
}    
.boton-checkbox{
    display: flex;
    align-items: center;
    label{
        margin-top: 7%;
        margin-left: 15%;
    }
}
#button-submit{
    display: block;
    font-weight: 900;
    background-color: $color-titulos;
    color: white;
    width: 100%;
    transition: 0.2s;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2%;
    margin: 2% 0% 0% 0%;
    :hover{
        background-color: #d7b7f3;
        color: black;
     
    }
}