@import "../utilities/variables";


#form-equipos{
    grid-area: item-2;
    height: 100%;   
    width: 90%;
    padding-bottom: 5%;
    .text-input{
        height: 40%;
        height: 3rem;
    }
    h3{
        padding-bottom: 1%;
        margin-bottom: 0.3%;
    }
    form{
        .checkbox{
            display: inline;
        }
    }
}
.menu-radial{
    @include flex(row,center,flex-start);
    margin-top: 2%;
    background-color: $bg-principal;

    label{
        margin-top: 0px;
        margin-right: 2%;
        font-size: 1rem;
    }
    input{
        margin-right: 10%;
        accent-color: $color-titulos; 
    }

}
